<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="https://github.com/gbetronix/e2stream" version="1.0.0" viewmodes="maximized">
    <tizen:application id="RTo53h0mNB.E2Stream" package="RTo53h0mNB" required_version="2.4"/>
    <author href="http://www.pembo.co.uk/" email="e2stream@pembo.co.uk">Pembo</author>
    <content src="index.html"/>
    <description>Stream from your Enigma2 satellite box to your Samsung smart TV</description>
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
    <icon src="logo.png"/>
    <name>E2Stream</name>
    <tizen:profile name="tv-samsung"/>
    <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="disable"/>
</widget>
